@import "../../../styles/vars";
$innerPadding: 15px;

.youtube_search_result_item {
  .video_title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px
  }

  .video_preview {
    width: 150px;

    img {
      max-width: 100%;
      box-shadow: 0px 2px 9px 0px rgba($black, 0.15);
    }
  }

  .channel_title {
    display: block;
    margin: 5px 0 10px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 12px;

    span {font-weight: 400}
  }

  .published_time {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    margin: 0 0 10px 0;
  }
}
