@import "../../../styles/vars";

.channels_container {
  flex-grow: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;

  .channels_info {
    background: $grey1;
    border-right: 1px solid $strokeColor;
    width: 200px
  }
  .channels_content {
    flex-grow: 1;
  }
}
