@import "../../../styles/vars";

$channelHeight: 80px;

.channel_container {
  height: $channelHeight;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  box-shadow:  0px 0px 30px 0px rgba($black, 0);

  .channel_top_container {
    height: $channelHeight;
    display: flex;

    .channel_summary {
      width: 220px;
      flex-shrink: 0;
      border-right: 1px solid $strokeColor;
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 25px;
        bottom: 0;
        right: 0;
        border-bottom: 1px solid $strokeColor;
      }

      .channel_summary_content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: $channelHeight;
        padding: 0 0 0 25px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;

        .channel_selected_label {
          display: none;
          font-size: 11px;
          opacity: .4;
          margin: -8px 0 5px 0;
        }

        .channel_name_container {
          position: relative;
          margin: -3px 0 0 0;

          img.configure_icon {
            display: block;
            position: absolute;
            left: -19px;
            top: 1px;
            opacity: 0;
            width: 14px;
            height: 14px;
            transition: opacity .2s ease-in-out;
          }

          .channel_name {
            display: block;
            width: 95%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: 500;
            font-size: 12px;
          }
        }
        .channel_description {
          .empty_state {
            font-size: 11px;
            opacity: .4;
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          .channel_properties {
            width: 100%;

            .property {
              display: inline-block;
              padding: 3px 8px 3px 8px;
              background: rgba($black, .07);
              border-radius: 100px;
              font-size: 10px;
              margin: 0 5px 0 0;
              font-weight: 400;
              color: rgba($black, .5);

            }
          }
        }

        &:hover {
          .channel_name_container {
            img.configure_icon {
              opacity: 1;
            }
          }
        }
      }
    }

    .channel_content {
      flex-grow: 1;
        border-bottom: 1px solid $strokeColor;

      .clips_timeline {
        background: rgba(#EFEFEF, 0);
        height: 24px;
        margin: 14px 25px 0 10px;
        transition: background .2s ease-in-out;
        position: relative;
        cursor: text;
      }

      .moments_timeline {
        background: rgba(#EFEFEF, 0);
        height: 24px;
        margin: 5px 25px 0 10px;
        transition: background .2s ease-in-out;
        position: relative;
      }

      &:hover {
        .clips_timeline {
          background: rgba(#EFEFEF, 1);
        }

        .moments_timeline {
          background: rgba(#EFEFEF, 1);
        }
      }
    }
  }

  &:last-child {
    .channel_top_container {
      .channel_summary {
        &:after {
          left: 0;
        }
      }
    }
  }

  &.channel_selected {
    height: auto;
    box-shadow:  0px 0px 30px 0px rgba($black, 0.1);

    &:before {
      content: '';
      width: 3px;
      background: $black;
      position: absolute;
      top: 0px;
      left: 0;
      bottom: 0px;
    }

    .channel_top_container {
      .channel_summary {
        &:after {
          display: none
        }
        .channel_summary_content {
          .channel_selected_label  {
            display: block;
          }
          .channel_name_container {
            .channel_name  {
              font-size: 16px;
            }
            img.configure_icon {
              display: none;
            }
          }
          .channel_description {
            display: none;
          }
        }
      }
      .channel_content {
        border-bottom: 1px solid $strokeColor;
      }
    }
  }
}
