@import "../../../styles/vars";

.clip {
  display: block;
  position: absolute;
  height: 24px;
  top: 0;
  width: 0;
  left: 0;
  background: rgba($black, .1);
  border: 1px solid $black;
  cursor: pointer;

  &.selected_clip {
    background: $black;
    color: $white;
    box-shadow: 0px 4px 20px 0px rgba($black,0.2);
  }

  .resize_left {
    display: block;
    width: 5px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: w-resize;
  }

  .resize_right {
    display: block;
    width: 5px;
    height: 24px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: e-resize;
  }

  .clip_name {
    display: block;
    position: absolute;
    top: 4px;
    left: 5px;
    right: 5px;
    text-overflow: ellipsis;
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
  }
}

.green {
  .clip {
    background: #40BF5A;
    border: 1px solid #2E8A41;
    color: $white;

    &.selected_clip {
      background: $black;
      color: $white;
      border: 1px solid $black;
      box-shadow: 0px 4px 20px 0px rgba($black,0.2);
    }
  }
}

.red {
  .clip {
    background: #E85952;
    border: 1px solid #9F3530;
    color: $white;

    &.selected_clip {
      background: $black;
      color: $white;
      border: 1px solid $black;
      box-shadow: 0px 4px 20px 0px rgba($black,0.2);
    }
  }
}

.orange {
  .clip {
    background: #F79533;
    border: 1px solid #CE7216;
    color: $white;

    &.selected_clip {
      background: $black;
      color: $white;
      border: 1px solid $black;
      box-shadow: 0px 4px 20px 0px rgba($black,0.2);
    }
  }
}

.blue {
  .clip {
    background: #00B0EE;
    border: 1px solid #247E9E;
    color: $white;

    &.selected_clip {
      background: $black;
      color: $white;
      border: 1px solid $black;
      box-shadow: 0px 4px 20px 0px rgba($black,0.2);
    }
  }
}


.indigo {
  .clip {
    background: #5368E4;
    border: 1px solid #162370;
    color: $white;

    &.selected_clip {
      background: $black;
      color: $white;
      border: 1px solid $black;
      box-shadow: 0px 4px 20px 0px rgba($black,0.2);
    }
  }
}

.violet {
  .clip {
    background: #9048CC;
    border: 1px solid #3F1760;
    color: $white;

    &.selected_clip {
      background: $black;
      color: $white;
      border: 1px solid $black;
      box-shadow: 0px 4px 20px 0px rgba($black,0.2);
    }
  }
}


.ghost_clip {
  background: rgba($yellow, 1);
  display: block;
  position: absolute;
  height: 24px;
  top: 0;
  width: 0;
  left: 0;
}
