@import "../../../styles/vars";

.track_player_container {
  background: $white;
  height: 120px;
  flex-shrink: 0;
  display: flex;
  border-bottom: 1px solid $strokeColor;

  .track_player_controls {
    width: 220px;
    flex-shrink: 0;
    padding: 23px 15px 15px 15px;

    .player_controls_container {
      li {
        .button {
          width: 80px;
        }
      }
    }

    .player_time_container {
      margin: 8px 0 0 0;
      font-size: 26px;

      .time_divider, .total_time {
        opacity: .25;
      }
    }
  }

  .track_player_wave {
    flex-grow: 1;
    margin: 0 20px 0 0;
    padding: 0 10px 0 10px;

    .player_time_wrapper {
      height: 85px;
    }
  }
}
