@import "../../styles/vars";

.page_track {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  flex-direction: column;

  &.loading {
    &:before {
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba($white, .5);
      z-index: 10000;
    }
    &:after {
      content:'Loading...';
      background: $black;
      color: $white;
      z-index: 10001;
      position: absolute;
      bottom: 30px;
      right: 30px;
      padding: 10px 20px;
    }
  }

  .track_container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: 100%;

    .track_content {
      display: flex;
      flex-grow: 1;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
