@import "../../styles/vars";

.page_add_track {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  flex-direction: column;

  .track_search_results_container {
    flex-grow: 1;
    position: absolute;
    top: 82px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;

    .initial_state {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index: 100;
      background: rgba($bgColor, .85);

      h1 {
        font-size: 46px;
        margin: -40px 0 10px 0;
      }
    }

    .results_container {
      display: flex;
      align-items: flex-start;
      position: relative;
      z-index: 1;

      .track_metadata_container {
        width: 700px;
        background: $white;
        margin: 20px 0 20px 20px;
        box-shadow: 0px 4px 19px 0px rgba(224,224,224,0.50);
        flex-grow: 0;
        padding: 20px;
      }
    }
  }
}
