@import "../../../styles/vars";

$innerPadding: 15px;

.beatport_search_result_item {
  .beatport_result_top {
    display: flex;

    .cover_container {
      width: 60px;
      height: 60px;
      flex-shrink: 0;

      img {
        width: 100%;
        box-shadow: 0px 2px 9px 0px rgba($black, 0.15);
      }
    }
    .main_info_container {
      padding: 0 0 0 $innerPadding;
      flex-grow: 1;
      margin: 0 0 10px;
      line-height: 20px;

      .beatport_artist {
        font-size: 14px;
        font-weight: 600;
      }

      .track_name {
        font-size: 13px;
        font-weight: 300;
      }

      .label_name {
        font-size: 13px;
        font-weight: 600;
        opacity: .25;
      }
    }
  }

  .beatport_result_bottom {
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px;

    ul.beatport_info_list {
      li {
        line-height: 13px;
        margin: 0 0 5px 0;

        &.highlighted {
          font-weight: 600
        }
        &.faded {
          opacity: .3
        }
      }
    }

    .beatport_result_bottom_left {
      display: flex;

      ul.beatport_info_list {
        &:first-child {
          width: 60px + $innerPadding;
        }
      }
    }

    .beatport_result_bottom_right {
      ul.beatport_info_list {
        li {
          text-align: right;
          max-width: 100px;

          &:last-child {
          }
        }
      }
    }

  }
}
