@import "../vars";

input.input {
  display: block;
  position: relative;
  box-shadow: none;
  width: 100%;
  transition: border 0.2s ease-in-out;
  z-index: 1;
  -webkit-appearance: none;
  border: none;
  outline: none;
  color: $black;
  letter-spacing: .5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  height: 40px;
  background: $white;
  border-bottom: 1px solid rgba($black, .1);

  &:focus {
    border-bottom: 1px solid rgba($black, 1);
  }

  &::-ms-clear {
    display: none;
  }

  // &:-webkit-autofill {
  //   -webkit-box-shadow: 0 0 0px 1000px white inset;
  //   color: #cacaca;
  // }

  &.input_big {
    font-size: 16px;
    height: 42px;
  }
}

.input_container {
  display: block;
  position: relative;
  margin: 0 0 15px 0;

  .form_label {
    display: block;
    font-size: 12px;
    font-weight: 500;
    opacity: .35;
  }

  .input_valid {
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 2;
    opacity: 0;
    transition: opacity .3s ease-in-out;
  }

  .input_error {
    display: block;
    position: absolute;
    font-size: 11px;
    top: 42px;
    left: 0;
    color: $red;
    opacity: 0;
    transition: opacity .3s ease-in-out;
  }

  &.input_container_valid {
    .input_valid {
      opacity: 1
    }
  }
  &.input_container_error {
    .input_error {
      opacity: 1
    }

    input.input {
      border-bottom: 1px solid $red;
    }
  }
}
