@import "../../styles/vars";

.progress_bar_player_container {
  display: block;
  // margin: 15px 0 20px 0;

  .progress_bar_wrapper {
    background: darken($grey2, 2%);
    display: block;
    height: 6px;
    width: 100%;
    cursor: pointer;
    position: relative;

    .progress_bar {
      display: block;
      height: 6px;
      background: $black;
      width: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      box-shadow: 0px 2px 15px 0px rgba($black, 0.25);
    }

    .progress_bar_hover {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background: darken($grey2, 10%);
      height: 6px;
    }
  }
}

.player_time_wrapper {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;

  img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    margin: 11px 0 0 0;
    height: 55px;
    opacity: 0.7;
    transition: opacity .15s ease-in-out;
  }

  .cursor {
    display: block;
    position: absolute;
    border-right: 1px solid $black;
    left: 0;
    top: 0;
    bottom: 0;

    &.playing {
      z-index: 3
    }

    &.hover {
      z-index: 3;
      opacity: .3;
    }
  }

  .range_highlight {
    display: block;
    background: $yellow;
    position: absolute;
    z-index: 1;
    width: 0;
    left: 0;
    height: 78px;
    top: 6px;
    opacity: 1;
  }

  &:hover {
    .cursor.hover {
      opacity: .2
    }

    img {
      opacity: 1
    }
  }
}
